/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
  margin: 0;
  text-align: center;
  font-family: Arial;
}

img {
  width: 100px;
}

.hero {
  background-image: url("images/torshov.jpg");
  background-size: cover;
  height: 678px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  color: #ffffff;
  background: #1d3557;
  font-size: 42px;
  font-weight: 700;
  line-height: 40px;
  padding: 8px 16px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}

.hero-subheading {
  font-size: 25px;
  font-weight: 700;
  line-height: 29px;
  color: #ffffff;
  background: #457b9d;
  margin-top: 10px;
  padding: 8px 24px;
  border: none;
  border-radius: 10px;
  width: 500px;
}

.activity {
  display: flex;
  height: 756px;
  background: #f1faee;
  flex-direction: column;
}

.activity-heading {
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
  margin-top: 70px;
}

.activity-section {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.activity-section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.activity-img {
  width: 200px;
  border: none;
  border-radius: 50%;
}

.activity-section-heading {
  margin-top: 40px;
  font-size: 25px;
  width: 250px;
}

.activity-section-text {
  font-size: 25px;
  width: 310px;
}

.guide {
  height: 788px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.guide-section {
  width: 800px;
  height: 588px;
  background: #a8dadc;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10px solid #1d3557;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.guide-intro {
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 28px;
}

.guide-experience {
  font-family: Arial;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  width: 378px;
  margin: 60px 0px 0px 0px;
}

.guide-name {
  margin: 60px 0px 60px 0px;
  font-size: 30px;
  font-weight: 700;
  line-height: 18px;
}

.guide-img {
  width: 360px;
  height: 498px;
  margin-left: 25px;
  border: none;
  border-radius: 20px;
}

.guide-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
